<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <mat-toolbar color="primary" class="md-tall">
        <mat-toolbar-row>
            <h1>Number Facts</h1>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon" (click)=addNumber()>playlist_add</mat-icon>
            <mat-icon class="example-icon" (click)=subscribeToNotifications()>notifications</mat-icon>
            <mat-icon matBadge="{{this.hidden.length}}" [matMenuTriggerFor]="menu" matBadgeSize="large" matBadgeColor="warn" class="example-icon">delete</mat-icon>
            <mat-menu #menu="matMenu">
                <button *ngFor="let hiddenFacts of hidden" mat-menu-item>{{hiddenFacts}}</button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>
    <h3 *ngIf="updatesAvailable">(Updates Availale - Refresh)</h3>
    <section>
        <div class="container">
            <app-numbers *ngFor="let num of numbers" num={{num}} (hide)=hide(num)></app-numbers>
        </div>
    </section>
</div>